{{#liquid-if showFields class="editable-row"}}
  <div class="col-sm-3">
    {{view "select"
      class="form-control"
      content=spiritTypes
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=item.spiritType
      prompt="Select one"}}
  </div>
  <div class="col-sm-1">
    {{input value=item.age type="number" placeholder="Age" class="form-control"}}
  </div>
  <div class="col-sm-1">
    {{input value=item.proofGallons type="number" placeholder="PFGs" class="form-control"}}
  </div>
  <div class="col-sm-3">
    {{input value=item.notes type="text" placeholder="Notes" class="form-control"}}
  </div>
  <div class="col-sm-2">
    <button {{action 'save' item}} class="btn btn-primary btn-xs">Save</button>
    <button {{action 'delete' item}} class="btn btn-danger btn-xs">Delete</button>
    <button {{action 'cancel' item}} class="btn btn-default btn-xs">Cancel</button>
  </div>
{{else}}
  <div class="col-sm-3">{{item.spiritType.name}}</div>
  <div class="col-sm-1">{{item.age}}</div>
  <div class="col-sm-1">{{item.proofGallons}}</div>
  <div class="col-sm-3">{{item.notes}}</div>
  <div class="col-sm-2">
    <button {{action 'edit'}} class="btn btn-default btn-xs">Edit</button>
  </div>
{{/liquid-if}}
