<div class="form-group">
  <label>{{label}}</label>
  <input type="text" class="form-control" value="{{value}}" {{action 'change' on='change'}}>
</div>

<button class="btn btn-default" {{action 'change'}}>{{buttonText}}</button>
