{{#block-modal title="Add Ingredient"}}
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Spirit Type</label>
            {{view "select"
              class="form-control"
              content=spiritTypes
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=ingredient.spiritType
              prompt="Select one"}}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="age">Age (months)</label>
            {{input id="age" type="number" class="form-control" value=ingredient.age}}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="percentage">Percentage</label>
            {{input id="percentage" type="number" class="form-control" value=ingredient.percentage}}
          </div>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" {{action 'updateIngredient' recipe ingredient}}>Save</button>
        <button class="btn btn-danger btn-xs" {{action 'deleteIngredient' recipe ingredient}}>Remove</button>
        {{#link-to 'recipes.show' recipe}}Cancel{{/link-to}}
      </div>
    </div>
  </div>
{{/block-modal}}
