<h1>Recipe: <em>{{model.name}}</em> <small>{{#link-to 'recipes.edit' model }}edit{{/link-to}}</small></h1>
<div class="row">
  <div class="col-md-2">
    <h4>{{model.proof}} Proof</h4>
  </div>
  <div class="col-md-8">
    {{model.notes}}
  </div>
</div>

<hr>

<h3>Ingredients</h3>

<div class="row">
  <div class="col-md-6">
    {{single-input label="Cases" buttonText="Recalculate" value=cases action=(action (mut cases))}}
  </div>
</div>

<p class="text-muted">
  Click Ingredient row to edit or remove.
</p>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Spirit Type</th>
          <th class="text-right">Age</th>
          <th class="text-right">Percentage</th>
          <th class="text-right">PFGs (for {{cases}} cases)</th>
          <th class="text-right">PFGs at Age</th>
          <th class="text-right">PFGs Age - +6</th>
          <th class="text-right">PFGs Age &gt; +6</th>
          <th class="text-right">PFGs &lt; Age</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.ingredients as |ingredient|}}
          {{#link-to
            'recipes.show.ingredients.edit' ingredient.id
            tagName="tr" class="clickable"
          }}
            <td>{{ingredient.spiritType.name}}</td>
            <td class="text-right">{{format-number ingredient.age}}</td>
            <td class="text-right">
              {{format-number ingredient.percentage}}
            </td>
            <td class="text-right">
              {{ingredient-pfgs  totalProofGallons ingredient.percentage}}
            </td>
            <td class="text-right">
              {{format-number ingredient.inventoryAtAge}}
            </td>
            <td class="text-right">
              {{format-number ingredient.inventoryPlusSix}}
            </td>
            <td class="text-right">
              {{format-number ingredient.inventoryBeyondSix}}
            </td>
            <td class="text-right">
              {{format-number ingredient.inventoryBelowAge}}
            </td>
          {{/link-to}}
        {{/each}}
        <tr class="{{model.percentageSatus}}">
          <td></td>
          <td><strong>Totals</strong></td>
          <td class="text-right">
            <strong>{{model.percentageTotal}}</strong> {{#if model.percentageInvalid}}(off by {{model.percentageDiff}}){{/if}}
          </td>
          <td colspan="5"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#link-to 'recipes.show.ingredients.new' class="btn btn-primary"}}
  Add Ingredient
{{/link-to}}

<hr>

<div class="row">
  <div class="col-md-4">
    <table class="table table-condensed table-hover">
      <thead>
        <tr><th colspan="2">Fixed Values</th></tr>
      </thead>
      <tbody>
        <tr><td>MLs per Bottle</td><td class="text-right">{{mlsPerBottle}}</td></tr>
        <tr><td>Bottles per Case</td><td class="text-right">{{bottlesPerCase}}</td></tr>
        <tr><td>Liters per Case</td><td class="text-right">{{litersPerCase}}</td></tr>
        <tr><td>Liters per Gallon</td><td class="text-right">{{litersPerGallon}}</td></tr>
        <tr><td>Liquid Gallons per Case</td><td class="text-right">{{format-number liquidGallonsPerCase precision=6}}</td></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed table-hover">
      <thead>
        <tr><th colspan="2">Calculated Values</th></tr>
      </thead>
      <tbody>
        <tr><td>Recipe Proof</td><td class="text-right">{{proof}}</td></tr>
        <tr><td>Total Liquid Gallons</td><td class="text-right">{{format-number totalLiquidGallons precision=3}}</td></tr>
        <tr><td>Proof Gallons per Case</td><td class="text-right">{{format-number proofGallonsPerCase precision=3}}</td></tr>
        <tr><td>Total Proof Gallons</td><td class="text-right">{{format-number totalProofGallons precision=3}}</td></tr>
      </tbody>
    </table>
  </div>
</div>

{{outlet}}
