<h1>Recipe: <em>{{model.name}}</em> <small>{{#link-to 'recipes.edit' model }}edit{{/link-to}}</small></h1>
<div class="row">
  <div class="col-md-4">
    <h3>{{model.proof}} Proof</h3>
  </div>
  <div class="col-md-8">
    {{model.nodes}}
  </div>
</div>

<hr>

{{#link-to 'recipes.show.ingredients.new' class="btn btn-primary"}}Add Ingredient{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>Spirit Type</th>
      <th>Age</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.ingredients as |ingredient|}}
      {{#link-to 'recipes.show.ingredients.edit' ingredient tagName="tr" class="clickable"}}
        <td>{{ingredient.spiritType.name}}</td>
        <td>{{ingredient.age}}</td>
        <td>{{ingredient.percentage}}</td>
      {{/link-to}}
    {{/each}}
    <tr class="{{model.percentageSatus}}">
      <td></td>
      <td><strong>Total</strong></td>
      <td>
        <strong>{{model.percentageTotal}}</strong> {{#if model.percentageInvalid}}(off by {{model.percentageDiff}}){{/if}}
      </td>
    </tr>
  </tbody>
</table>

{{outlet}}
